
.div_parent{
    text-align: center;
    padding-top: 35px;
}

.index_form{
display: inline-block;
border-radius: 10rpx;
padding: 40rpx;
width: 300px;
text-align: left;
}

table {
  border-collapse: collapse;
}

th {
  text-align: center;
}

table, th, td
{
    border: 1px solid #ccc;
}

td
{
    padding: 15px;
}


.panel_table{
  display: inline-block;
  padding: 40rpx;

  text-align: left;
  }
  

input[type=text], input[type=password], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
   
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; /*after mouse move ,shape of cursor*/
  }
   
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .reg_info{
    display: inline-block;
    border-radius: 10rpx;
    padding: 40rpx;
    width: 300px;
    text-align: left;
  }